body {
    background-color: #333;
    color: #eee;
}

p {
    font-size: 20px;
}

a {
    color: #FF8F33;
}

a:hover {
    color: #E65C00;
    text-decoration: none;
}

.container {
    margin-top: 20px;
    text-align: center;
}

textarea {
    font-weight: bold;
    font-size: 20px;
    border: none;
    -webkit-text-shadow: none;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: none;
}

#console {
    padding:10px; 
    width:100%; 
    background-color:black;
    color:#E65C00; 
}