body {
    background-color: #737373;
}

.container {
    margin-top: 20px;
    text-align: center;
}

#query {
    width: 262px;
}

#submit {
    text-transform: uppercase;
}

#results-wrapper {
    background-color: rgba(50, 50, 50, .5);
    padding: 0 0 50px 0;
    margin-bottom: 100px;
    width: 323px;
    color: #eee;
    border-radius: 10px;
}

#results-wrapper #results-header {
    background-color: rgba(10, 10, 10, .5);
    padding: 25px 0;
    border-radius: 10px 10px 0 0;
}

#results-wrapper #results-wrapper {
}