<div class="container">
    <div class="row">
        <div class="span12">
            <div class="center">
                <textarea id="console" rows="40" cols="80" style="padding:10px; width:100%; background-color:black; color:green; border: 1px solid green;"></textarea>
            </div>
        </div>
    </div>
</div>