<div class="container">
    <div class="row">
        <div class="span12">
            <div class="center">
                <textarea id="console" rows="40" cols="80"></textarea>
            </div>
        </div>
    </div>
</div>