<div class="container">
    <div class="row">
        <div class="span12">
            <div class="center">
                <textarea id="console" rows="40" cols="80"></textarea>
            </div>
            <p>Powered by <a href="http://www.wolframalpha.com/" target="_blank">Wolfram Alpha</a> and <a href="https://coderbits.com" target="_blank">API love</a></p>
        </div>
    </div>
</div>