<div class="container">
    <form action="/" method="POST">
        <div class="control-group">
            <div class="controls controls-row">
                <div class="input-prepend">
                    <span class="add-on">Ask me</span>
                    <input id="query" name="query" class="input-xlarge" placeholder="What is the meaing of life?" type="text">
                </div>
            </div>
        </div>
        <button id="submit" type="submit" class="btn btn-inverse btn-large">Ask the psychic dangerzone</button>
    </form>
    <div id="results-wrapper">
        <div id="results-header">
            <h2>Welcome to the dangerzone</h2>
        </div>
        <div id="results">
            aksdfs 
            afd lasfdsa 
            sadfjksadf
            jkasdf
        </div>
    </div>
</div>