<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Psychic Dangerzone</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/shared")
    </head>
    <body>
        @RenderBody()
        @Scripts.Render("~/Scripts/shared")
        @RenderSection("scripts", required: false)
    </body>
</html>